body{
    background-color: rgb(37, 36, 36);
}
.btn{
    background-color: #ffffff;
    color: rgb(5, 5, 5);
    font-weight: bold;
}
.logo{
    font-weight: bold;
    font-size: 30px;
}
.alarm{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
h5{
    color: rgb(88, 177, 88);
}